<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryController</servlet-name>
        <servlet-class>controller.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsController</servlet-name>
        <servlet-class>controller.CartsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityCartController</servlet-name>
        <servlet-class>controller.UpdateQuantityCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>controller.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksController</servlet-name>
        <servlet-class>controller.ThanksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowController</servlet-name>
        <servlet-class>controller.BuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderController</servlet-name>
        <servlet-class>controller.ManagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforOrderController</servlet-name>
        <servlet-class>controller.InforOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistoryController</servlet-name>
        <servlet-class>controller.PurchaseHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByPrice</servlet-name>
        <servlet-class>controller.SortByPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryController</servlet-name>
        <url-pattern>/filtercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityCartController</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/managerproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksController</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowController</servlet-name>
        <url-pattern>/buynow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderController</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforOrderController</servlet-name>
        <url-pattern>/infororder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistoryController</servlet-name>
        <url-pattern>/purchasehistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByPrice</servlet-name>
        <url-pattern>/sortprice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
